.tile {
  width: 95vw;
  display: flex;
  align-items: center;
  background-color: hsl(228, 28%, 20%);
  border-radius: 5px;
  margin: 10px;
}

.site-icon {
  max-height: 20px;
  max-width: 20px;
}

/* large tile styles */

.large-tile {
  height: 200px;
  border-top: solid 5px;
  flex-direction: column;
  justify-content: space-around;
}

.icon-and-handle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 85px
}

.handle-text {
  font-size: .9em;
  color: hsl(228, 34%, 66%);
}

.num-followers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followers-number {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.followers-static-text {
  color: hsl(228, 34%, 66%);
}

.change-in-followers-container {
  font-family: inter; /*TODO: make this work*/
  font-size: .75em;

}

.red {
  color: red;
}

.green {
  color: green;
}

/* small tile styles */


.small-tile {
  height: 125px;
  justify-content: space-between;
}

.small-tile-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.small-tile-section > div:nth-child(1) {
  margin: 20px 30px 0px 30px;
}

.small-tile-section > div:nth-child(2) {
  margin: 0px 30px 15px 30px;
}

.small-tile-total-num {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}