.toggle-mode-switch {
  height: 25px;
  width: 45px;
  position: relative;
  display: inline-block;
  border-radius: 15px;
  vertical-align: center;
  float: right;
  background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.toggle-mode-switch.light-mode {
  background: hsl(230, 22%, 74%);
}

.toggle-mode-switch:hover {
  cursor: pointer;
}

.toggle-mode-circle {
  position: absolute;
  border-radius: 25px;
  height: 18px;
  width: 18px;
  bottom: 4px;
  background-color: hsl(232, 19%, 15%);
}
.toggle-mode-circle.light-mode {
  background-color: hsl(225, 100%, 98%);
}

.toggle-mode-circle.left {
  left: 4px;
}

.toggle-mode-circle.right {
  right: 4px;
}



