@import './main.css';

body {
  font-family: sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container.dark-mode{
  background-color: hsl(0, 0%, 100%);
}
.main-container.light-mode{
  background-color: hsl(230, 17%, 14%);

}

.horizontal-line {
  border-top: solid gray 2px;
  width: 95vw;
}

.dark-mode-container {
  position: relative;
  height: 25px;
  width: 95vw;
  margin: 25px;
}

.dark-mode-title {
  position: relative;
  font-size: 2rem;
  color: white;
}